/* src/global.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  background: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

/* app.css */
.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  display: flex;
  flex: 1;
}

.sidebar {
  width: 256px;
  background-color: #fff;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 1);
  border-right: 1px solid black;
}

.content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.breadcrumb {
  color: black;
  margin: 16px 0;
}


