.homepage-container {
    .customize-row {
        display: flex;
        flex-wrap: wrap;
        gap: 20px 10px;

        .column {
            width: calc(20% - 8px);
            position: relative;

            .wrapper {
                cursor: pointer;
                box-shadow: 0 0.0625rem 0.125rem 0 rgba(0, 0, 0, .1);
                border-radius: 0.125rem;
                padding: .3rem;
                position: relative;
                transition: all 0.3s ease;
                /* Thêm hiệu ứng chuyển động mượt mà */

                /* Hiệu ứng hover */
                &:hover {
                    transform: scale(1.05);
                    /* Phóng to sản phẩm một chút */
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                    /* Tạo bóng đổ khi hover */
                    background-color: #f7f7f7;
                    /* Thay đổi màu nền khi hover */
                }
            }

            .thumbnail {
                max-height: 200px;
                max-width: 200px;
                margin: 0 auto;
                position: relative;

                img {
                    max-width: 100%;
                    max-height: 100%;
                    background-color: white;
                    object-fit: contain;
                }
            }

            .text {
                padding: 0.5rem 0;
                font-size: .75rem;
                height: 50px;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 15px;
            }

            .price {
                font-weight: bold;
                margin-top: 10px;
                font-size: 15px;
            }

            @media screen and (max-width: 600px) {
                width: calc(50% - 8px);
            }

            @media screen and (max-width: 800px) and (min-width: 601px) {
                width: calc(25% - 8px);
            }
        }
    }

    .empty-message-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 300px;
        /* Chỉnh chiều cao của vùng hiển thị thông báo */
        width: 100%;
        /* Đảm bảo chiếm đầy chiều ngang */
        background-color: #fff;
        /* Bạn có thể thay đổi nền của phần này nếu cần */
        position: relative;
        /* Đảm bảo rằng nó căn giữa một cách chính xác trong container */
        margin: 0 auto;
        /* Căn giữa phần tử */
    }


}