:where(.css-dev-only-do-not-override-apn68).ant-drawer .ant-drawer-body {
    flex: 1;
    min-width: 0;
    min-height: 0;
    padding: 24px;
    overflow: auto;
    padding-bottom: 0px;
}

div::-webkit-scrollbar {
    display: none;
}

:where(.css-dev-only-do-not-override-apn68).ant-btn-sm.ant-btn-icon-only {
    width: 24px;
    padding-inline: 0;
    height: 25px;
}